var config = {
  gdax:{
	 apiURI:"https://api-public.sandbox.gdax.com",
	 passphrase: "XXXXXXXXX",
	 key: "XXXXX",
	 secret: "XXXXXXXXX"
  },
  "coins":['ETH-USD',"BTC-USD","ETH-BTC"]

   
}
module.exports = config;
