var config = {
  "SLACK_URL": "https://hooks.slack.com/services/xxxx/xxxx/xxxx",
  "default_buy_quanity": 1,
  "default_ask_quanity": 1,
  "total_open_order_buy": 1,
  "total_open_order_ask": 1,
  "buy_sell_max_spread": 1,
  "max_buy_usd": 1000,
  "max_sell_usd": 800,
  "best_bid_modification": -0.20,
  "best_ask_modification": 0.20,
}
module.exports = config;
